<script type="text/x-template" id="book_list-row">
  <tr>
    <td>
      <!-- Show input when in edit mode -->
      <div v-if="editMode">
        <input type="text" v-model="book_list.name"><br>
        <span style="color:red">{{ errors.name }}</span>
      </div>
      <div v-else>{{ book_list.name }}</div>
    </td>
    <td>
      <div v-if="editMode">
        <input type="text" v-model="book_list.description"><br>
        <span style="color:red">{{ errors.description }}</span>
      </div>
      <div v-else>{{ book_list.description }}</div>
    </td>
    <td>
      <div v-if="editMode">
        <input type="text" v-model="book_list.year"><br>
        <span style="color:red">{{ errors.year }}</span>
      </div>
      <div v-else>{{ book_list.year }}</div>
    </td>
    <td>
      <div v-if="editMode">
        <input type="text" v-model="book_list.author"><br>
        <span style="color:red">{{ errors.author }}</span>
      </div>
      <div v-else>{{ book_list.author }}</div>
    </td>
    <td>
      <div v-if="editMode">
        <input type="text" v-model="book_list.publisher"><br>
        <span style="color:red">{{ errors.publisher }}</span>
      </div>
      <div v-else>{{ book_list.publisher }}</div>
    </td>
    <td>
      <div v-if="editMode">
        <input type="text" v-model="book_list.number_of_pages"><br>
        <span style="color:red">{{ errors.number_of_pages }}</span>
      </div>
      <div v-else>{{ book_list.number_of_pages }}</div>
    </td>

    <td>
      <!-- Save button calls updateEmployee -->
      <button v-if="editMode" @click="updateBookList">Save</button>
      <!-- Edit button puts row into edit mode -->
      <button v-else @click="editMode = true">Edit</button>
      <button v-if="!editMode" @click="deleteBookList" style="color:red">Delete</button>
    </td>
  </tr>
</script>

<p id="notice"><%= notice %></p>

<h1>Book Lists</h1>

<div id="book_lists">
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Year</th>
        <th>Author</th>
        <th>Publisher</th>
        <th>Number of pages</th>
        <th></th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <tr
        is="book_list-row"
        v-for="book_list in book_lists"
        :book_list="book_list">
      </tr>
      <tr>
        <td>
          <!-- Input -->
          <input type="text" v-model="book_list.name"><br>
          <!-- Validation errors -->
          <span style="color:red">{{ errors.name }}</span>
        </td>
        <td>
          <!-- Input -->
          <input type="text" v-model="book_list.description"><br>
          <!-- Validation errors -->
          <span style="color:red">{{ errors.description }}</span>
        </td>
        <td>
          <!-- Input -->
          <input type="text" v-model="book_list.year"><br>
          <!-- Validation errors -->
          <span style="color:red">{{ errors.year }}</span>
        </td>
        <td>
          <!-- Input -->
          <input type="text" v-model="book_list.author"><br>
          <!-- Validation errors -->
          <span style="color:red">{{ errors.author }}</span>
        </td>
        <td>
          <!-- Input -->
          <input type="text" v-model="book_list.publisher"><br>
          <!-- Validation errors -->
          <span style="color:red">{{ errors.publisher }}</span>
        </td>
        <td>
          <!-- Input -->
          <input type="text" v-model="book_list.number_of_pages"><br>
          <!-- Validation errors -->
          <span style="color:red">{{ errors.number_of_pages }}</span>
        </td>

        <!-- button click calls hireEmployee -->
        <td><button @click="addBookList">Add Book</button></td>
      </tr>
    </tbody>
  </table>
</div>

<br>
